@model StudentManagement1.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<form method="post" action="/AdminLogin/Index">
  <span style ="color:red"> @Html.ValidationSummary(true, "Login failed.Check your login details")</span>
                    <label for="User_Name">User Name:</label>
                    <input type="text" class="span12" name="User_Name" id="User_Name" >
                    <label for="Password">Password</label>
                    <input type="password" class="span12" name="Password" id="Password">
                   <button type="submit" class="btn btn-primary" >Sign In</button>
                    @*<a class="btn btn-primary pull-right">Sign In</a>*@
                    <label class="remember-me"><input type="checkbox"> Remember me</label>
                    <div class="clearfix"></div>
  </form>

